#menu{
    padding:10px;
    background: #DDD;
    box-shadow: 0 3px 5px #888;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    min-height:20px;
}
a {
    color:#1ac;
    text-decoration:none;
}
#menu a{
    padding:0 10px;
}
#content{
    padding: 30px 10px 10px;
}
